.step {
    border: solid black 1px;
    padding: 5px;
    margin: 5px;
}

#input > select {
    font-size: 125%;
    
}

.instructions {
    font-size: 150%;
    margin: 5px;
}

#output th, #output td {
    border: solid black 1px;
    padding: 5px;
    min-width: 150px;
}

#output th {
    font-size: 125%;
}

#output tr {
    background: #ffff88;
}

#output td {
    background: #eee9e9;
}

#clojalyze {
    font-size: 125%;
}

.error {
    font-size: 200%;
    color: red;
}

